#Navigation
{
    .rjm-brand
    {
        font-family: 'Righteous', cursive;

        padding: .8rem 0;

        border-bottom: 1px solid #ddd;
    }
    .navbar
    {
        margin-top: 0;
        padding: 0 .5rem .5rem;
    }
}
