#RibbyTabs
{
    .btn-custom-tab
    {
        line-height: 1.5rem;

        transition: border-bottom, color .1s;

        color: #5cb85c;
        border: 0;
        border-bottom: 2px solid #5cb85c;
        background: transparent;

        &:hover
        {
            color: #3a963a;
            border-bottom: 2px solid #3a963a;
        }
    }
}
